body {
    font-family: Roboto;
}

.hero {
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 24px 120px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

a,
.hero-second {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

nav {
    margin-left: auto;
    display: flex;
    gap: 24px;
}

.hero-img {
    height: 300px;
}

.hero-container {
    padding: 72px 0;
    display: flex;
    gap: 72px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn {
    background-color: #3882F6;
    border: 0;
    font-size: 18px;
    border-radius: 12px;
    padding: 12px;
    width: 180px;
    font-weight: bold;
}

.btn a {
    color: #F9FAF8;
}